.container{
    padding: 1rem;
    margin: 3rem 0;
    border: 1px solid var(--main-light);

    p, button{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}